.d-f {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}
.fd-r {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row
}
.fd-rr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}
.fd-c {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}
.fd-cr {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}
.fw-nw {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}
.fw-w {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}
.fw-wr {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse
}
.jc-c {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}
.jc-fs {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}
.jc-fe {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}
.jc-sa {
    -ms-flex-pack: distribute;
    justify-content: space-around
}
.jc-sb {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}
.ac-s {
    -ms-flex-line-pack: stretch;
    align-content: stretch
}
.ac-c {
    -ms-flex-line-pack: center;
    align-content: center
}
.ac-fs {
    -ms-flex-line-pack: start;
    align-content: flex-start
}
.ac-fe {
    -ms-flex-line-pack: end;
    align-content: flex-end
}
.ac-sa {
    -ms-flex-line-pack: distribute;
    align-content: space-around
}
.ac-sb {
    -ms-flex-line-pack: justify;
    align-content: space-between
}
.ai-s {
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch
}
.ai-c {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center
}
.ai-bs {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    -ms-grid-row-align: baseline;
    align-items: baseline
}
.ai-fs {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start
}
.ai-fe {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end
}
.as-s {
    -ms-flex-item-align: stretch;
    align-self: stretch
}
.as-c {
    -ms-flex-item-align: center;
    align-self: center
}
.as-bs {
    -ms-flex-item-align: baseline;
    align-self: baseline
}
.as-fs {
    -ms-flex-item-align: start;
    align-self: flex-start
}
.as-fe {
    -ms-flex-item-align: end;
    align-self: flex-end
}
.fg-0 {
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0
}
.fg-1 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}
.fg-2 {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2
}
.fg-3 {
    -webkit-box-flex: 3;
    -ms-flex-positive: 3;
    flex-grow: 3
}
.fs-0 {
    -ms-flex-negative: 0;
    flex-shrink: 0
}
.fs-1 {
    -ms-flex-negative: 1;
    flex-shrink: 1
}
.fs-2 {
    -ms-flex-negative: 2;
    flex-shrink: 2
}
.fs-3 {
    -ms-flex-negative: 3;
    flex-shrink: 3
}
.fb-a {
    -ms-flex-preferred-size: auto;
    flex-basis: auto
}
.fb-10 {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%
}
.fb-12 {
    -ms-flex-preferred-size: 12%;
    flex-basis: 12%
}
.fb-15 {
    -ms-flex-preferred-size: 15%;
    flex-basis: 15%
}
.fb-20 {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%
}
.fb-25 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%
}
.fb-33c3 {
    -ms-flex-preferred-size: 33.333%;
    flex-basis: 33.333%
}
.fb-40 {
    -ms-flex-preferred-size: 40%;
    flex-basis: 40%
}
.fb-45 {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%
}
.fb-50 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%
}
.fb-60 {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%
}
.fb-65 {
    -ms-flex-preferred-size: 65%;
    flex-basis: 65%
}
.fb-70 {
    -ms-flex-preferred-size: 70%;
    flex-basis: 70%
}
.fb-75 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%
}
.fb-col300 {
    -ms-flex-preferred-size: 300px;
    flex-basis: 300px
}
.fb-col130 {
    -ms-flex-preferred-size: 130px;
    flex-basis: 130px
}
.fb-col200 {
    -ms-flex-preferred-size: 200px;
    flex-basis: 200px
}
.fb-col100 {
    -ms-flex-preferred-size: 100px;
    flex-basis: 100px
}
.fo-1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1
}
.fs-xxxl {
    font-size: 2.187rem
}
.fs-xxl {
    font-size: 1.625rem
}
.fs-xl {
    font-size: 1.375rem
}
.fs-l {
    font-size: 1.25rem
}
.fs-m {
    font-size: 1.125rem
}
.fs-s {
    font-size: 0.925rem
}
.fs-xs {
    font-size: 0.875rem
}
.p-0c25 {
    padding: 0.25rem
}
.pt-0c25 {
    padding-top: 0.25rem
}
.p-0c65 {
    padding: 0.65rem
}
.pb-0c25 {
    padding-bottom: 0.25rem
}
.pl-6 {
    padding-left: 6rem
}
.pl-0c75 {
    padding-left: 0.75rem
}
.pr-0c75 {
    padding-right: 0.75rem
}
.pr-4 {
    padding-right: 4rem
}
.pr-9 {
    padding-right: 9rem
}
.pl-7 {
    padding-left: 7rem
}
.ml-n1 {
    margin-left: -1rem
}
.mr-n1 {
    margin-right: -1rem
}
.ml-n2 {
    margin-left: -2rem
}
.mr-n2 {
    margin-right: -2rem
}
.ml-4 {
    margin-left: 4rem
}
.ml-2c5 {
    margin-left: 2.5rem
}
.mt-n2 {
    margin-top: -2rem
}
.mt-n3c5 {
    margin-top: -3.5rem
}
.mt-n5c6 {
    margin-top: -5.625rem
}
.mb-2c5 {
    margin-bottom: 2.5rem
}
.ff-jal {
    font-family: 'Jaldi', sans-serif
}
.ff-dro {
    font-family: 'Droid', sans-serif
}
.c-lighter {
    color: #fff
}
.c-light {
    color: #f4f4f4
}
.c-mid {
    color: #909090
}
.c-dark {
    color: #b2184d
}
.c-darker {
    color: #1c2332
}
.c-darker\:h:hover,
.c-darker\:h:focus {
    color: #1c2332
}
.c-main {
    color: #e21e62
}
.c-main\:h:hover,
.c-main\:h:focus {
    color: #e21e62
}
.c-main\:h,
.c-darker\:h {
    -webkit-transition: color 0.25s ease;
    transition: color 0.25s ease
}
.f-main path {
    fill: #e21e62
}
.f-mid path {
    fill: #909090
}
.f-darker path {
    fill: #1c2332
}
.f-lighter path {
    fill: #fff
}
.f-darker\:h path {
    -webkit-transition: fill 0.25s ease;
    transition: fill 0.25s ease
}
.f-lighter\:h:hover path,
.f-lighter\:h:focus path {
    fill: #fff
}
.f-darker\:h:hover path,
.f-darker\:h:focus path {
    fill: #1c2332
}
.f-main\:h:hover path,
.f-main\:h:focus path {
    fill: #e21e62
}
.bgc-lighter-0c3 {
    background-color: rgba(255, 255, 255, 0.3)
}
.bgc-lighter-0c9 {
    background-color: rgba(255, 255, 255, 0.9)
}
.bgc-lighter {
    background-color: #fff
}
.bgc-light {
    background-color: #f4f4f4
}
.bgc-mid {
    background-color: #909090
}
.bgc-dark {
    background-color: #b2184d
}
.bgc-darker {
    background-color: #1c2332
}
.bgc-darker-0c7 {
    background-color: rgba(28, 35, 50, 0.7)
}
.bgc-darker-0c9 {
    background-color: rgba(28, 35, 50, 0.9)
}
.bgc-main {
    background-color: #e21e62
}
.lh-1 {
    line-height: 1
}
.lh-1c2 {
    line-height: 1.2
}
.lh-1c3 {
    line-height: 1.3
}
.b-main-s {
    border: 1px solid #e21e62
}
.bb-main-s {
    border-bottom: 1px solid #e21e62
}
.bb-main-m {
    border-bottom: 2px solid #e21e62
}
.br-main-s {
    border-right: 1px solid #e21e62
}
.bl-main-s {
    border-left: 1px solid #e21e62
}
.bt-main-s {
    border-top: 1px solid #e21e62
}
.bt-lighter-s {
    border-top: 1px solid #fff
}
.b-light-s {
    border: 1px solid #e5e5e5
}
.bt-light-s {
    border-top: 1px solid #e5e5e5
}
.bb-light-s {
    border-bottom: 1px solid #e5e5e5
}
.bb-darker-s {
    border-bottom: 1px solid #1c2332
}
.bb-main\:h:hover,
.bb-main\:h:focus {
    -webkit-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
    border-bottom: 1px solid #e21e62
}
.bt-light-m {
    border-top: 2px solid #e5e5e5
}
.bb-light-m {
    border-bottom: 2px solid #e5e5e5
}
.bt-lighter-xl {
    border-top: 8px solid #f4f4f4
}
.bb-lighter-xl {
    border-bottom: 8px solid #f4f4f4
}
.btrr-s {
    border-top-right-radius: 5px
}
.btlr-s {
    border-top-left-radius: 5px
}
.btbr-s {
    border-top-bottom-radius: 5px
}
.bttr-s {
    border-top-top-radius: 5px
}
.br-s {
    border-radius: 5px
}
.br-m {
    border-radius: 8px
}
.br-l {
    border-radius: 12px
}
.br-xl {
    border-radius: 30px
}
.ls-1 {
    letter-spacing: 1px
}
.ls-3 {
    letter-spacing: 3px
}
.td-u\:h:hover {
    text-decoration: underline
}
.tty-n50 {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}
.ttx-n50 {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
}
.tty-50 {
    -webkit-transform: translateY(50%);
    -ms-transform: translateY(50%);
    transform: translateY(50%)
}
.ttx-50 {
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%)
}
.ttxy-n50 {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}
.ttz-0 {
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}
.bounce\:h:hover,
.bounce\:h:focus {
    -webkit-animation: bounce 0.25s ease-out infinite alternate;
    animation: bounce 0.25s ease-out infinite alternate
}
@-webkit-keyframes bounce {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        -webkit-transform: translateY(-0.5rem);
        transform: translateY(-0.5rem)
    }
}
@keyframes bounce {
    from {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        -webkit-transform: translateY(-0.5rem);
        transform: translateY(-0.5rem)
    }
}
.w-33c3 {
    width: 33.33%
}
.w-66c6 {
    width: 66.66%
}
.w-65 {
    width: 65%
}
.mw-50 {
    max-width: 50%
}
.col-30 {
    width: 30px
}
.col-70 {
    width: 70px
}
.col-80 {
    width: 80px
}
.col-100 {
    width: 100px
}
.col-175 {
    width: 175px
}
.col-190 {
    width: 190px
}
.col-250 {
    width: 250px
}
.col-285 {
    width: 285px
}
.col-300 {
    width: 300px
}
.col-395 {
    width: 395px
}
.col-460 {
    width: 460px
}