@media screen and (max-width: 64rem) {
    .w-100\@lg {
        width: 100%
    }
    .c-darker\@lg {
        color: #1c2332
    }
    .c-main\:h\@lg: hover {
        -webkit-transition: color 0.25s ease;
        transition: color 0.25s ease;
        color: #e21e62
    }
    .fs-l\@lg {
        font-size: 1.25rem
    }
    .d-n\@lg {
        display: none
    }
    .d-b\@lg {
        display: block
    }
    .b-n\@lg {
        border: none
    }
    .bt-n\@lg {
        border-top: none
    }
    .p-r\@lg {
        position: relative
    }
    .p-a\@lg {
        position: absolute
    }
    .p-f\@lg {
        position: fixed
    }
    .b-0\@lg {
        bottom: 0
    }
    .t-0\@lg {
        top: 0
    }
    .tt-0\@lg {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    .fb-a\@lg {
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }
    .fb-100\@lg {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
    .ai-s\@lg {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        -ms-grid-row-align: stretch;
        align-items: stretch
    }
    .as-c\@lg {
        -ms-flex-item-align: center;
        align-self: center
    }
    .as-s\@lg {
        -ms-flex-item-align: stretch;
        align-self: stretch
    }
    .fd-c\@lg {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .fg-0\@lg {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0
    }
    .jc-fe\@lg {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
    .ta-l\@lg {
        text-align: left
    }
    .ta-c\@lg {
        text-align: center
    }
    .p-0\@lg {
        padding: 0
    }
    .p-1\@lg {
        padding: 1rem
    }
    .pr-0\@lg {
        padding-right: 0
    }
    .pl-1\@lg {
        padding-left: 1rem
    }
    .pl-3\@lg {
        padding-left: 3rem
    }
    .pr-3\@lg {
        padding-right: 3rem
    }
    .pr-1\@lg {
        padding-right: 1rem
    }
    .pb-2\@lg {
        padding-bottom: 2rem
    }
    .pb-1c5\@lg {
        padding-bottom: 1.5rem
    }
    .pb-1\@lg {
        padding-bottom: 1rem
    }
    .pt-1\@lg {
        padding-top: 1rem
    }
    .m-0\@lg {
        margin: 0
    }
    .mr-n1\@lg {
        margin-right: -1rem
    }
    .ml-n2\@lg {
        margin-left: -2rem
    }
    .ml-n1\@lg {
        margin-left: -1rem
    }
    .ml-3\@lg {
        margin-left: 3rem
    }
    .mr-n2\@lg {
        margin-right: -2rem
    }
    .mr-0\@lg {
        margin-right: 0
    }
    .mr-3\@lg {
        margin-right: 3rem
    }
    .mt-3\@lg {
        margin-top: 3rem
    }
    .mt-2\@lg {
        margin-top: 2rem
    }
    .mt-1\@lg {
        margin-top: 1rem
    }
    .mt-0\@lg {
        margin-top: 0
    }
    .mt-6\@lg {
        margin-top: 6rem
    }
    .h-100\@lg {
        height: 100%
    }
    .o-a\@lg {
        overflow: auto
    }
    .o-v\@lg {
        overflow: visible
    }
    .bgc-lighter\@lg {
        background-color: #fff
    }
    .search-btn {
        position: relative
    }
    .search-btn:before {
        content: "";
        background: url("../img/search.svg") no-repeat scroll #1c2332 50% 50%/25px auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        pointer-events: none
    }
    #nav {
        -webkit-transform: translateY(0.75rem);
        -ms-transform: translateY(0.75rem);
        transform: translateY(0.75rem);
        opacity: 0;
        max-height: 0;
        visibility: hidden;
        -webkit-transition: opacity 0s ease, -webkit-transform 0s ease;
        transition: opacity 0s ease, -webkit-transform 0s ease;
        transition: transform 0s ease, opacity 0s ease;
        transition: transform 0s ease, opacity 0s ease, -webkit-transform 0s ease
    }
    #nav>ul {
        border-top: 8px solid #f4f4f4
    }
    #nav>ul>li {
        border-bottom: 1px solid #e5e5e5
    }
    #nav>ul>li>a {
        display: inline-block
    }
    #nav>ul>li:first-child {
        padding-top: 1rem
    }
    .js-sub-nav {
        box-shadow: none;
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        border-bottom: 8px solid #f4f4f4;
        -webkit-transition: none;
        transition: none
    }
    .js-sub-nav ul li:hover {
        background-color: transparent
    }
    .js-has-sub-nav {
        position: relative
    }
    .js-has-sub-nav.sub-nav-active {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 4;
        background: #fff
    }
    .js-has-sub-nav.sub-nav-active>a:before {
        content: "";
        left: -2rem;
        height: 25px;
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 15px;
        z-index: 2;
        background-image: url("../img/nav-back-main.svg")
    }
    .js-has-sub-nav.sub-nav-active:after {
        display: none
    }
    .js-has-sub-nav .js-sub-nav {
        border-top: 1px solid #e5e5e5
    }
    .js-has-sub-nav:after {
        background: url("../img/arrow-left-light.svg") no-repeat scroll 50% 0;
        content: "";
        height: 25px;
        position: absolute;
        right: 0;
        top: 50%;
        -webkit-transform: rotateY(180deg) translateY(-50%);
        transform: rotateY(180deg) translateY(-50%);
        width: 15px;
        z-index: 2
    }
    .js-search-form {
        visibility: visible;
        opacity: 1;
        position: relative;
        background-color: #fff
    }
    #header.active {
        height: 100%;
        position: fixed;
        overflow: auto
    }
    #header.active #nav {
        -webkit-transition-duration: 0.25s;
        transition-duration: 0.25s;
        display: block;
        visibility: visible;
        max-height: 999px;
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
    #header.active #nav>ul>li:last-child {
        border-top: 8px solid #f4f4f4;
        border-bottom: 0 none
    }
}
@media screen and (max-width: 55rem) {
    .d-n\@md {
        display: none
    }
    .w-100\@md {
        width: 100%;
        float: none
    }
    .p-r\@md {
        position: relative
    }
    .b-n\@md {
        border: none
    }
    .pr-0\@md {
        padding-right: 0
    }
    .fs-init\@md {
        font-size: initial
    }
    .ml-n2\@md {
        margin-left: -2rem
    }
    .mr-n2\@md {
        margin-right: -2rem
    }
    .mr-1\@md {
        margin-right: 1rem
    }
    .ml-1\@md {
        margin-left: 1rem
    }
    .fb-a\@md {
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }
    .fb-50\@md {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%
    }
    .fb-100\@md {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
    .fd-c\@md {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column
    }
    .ai-s\@md {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        -ms-grid-row-align: stretch;
        align-items: stretch
    }
    .ta-l\@md {
        text-align: left
    }
    .offset-bloc-left {
        margin-left: 0
    }
    .offset-bloc-top {
        margin-top: 0
    }
    .skew-list li:not(:last-child):after {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
        width: 100%;
        position: relative;
        height: 1px
    }
    .bloc-newsletter {
        background-position: 15% 0
    }
}
@media screen and (max-width: 48rem) {
    .w-100\@sm {
        width: 100%
    }
    .w-50\@sm {
        width: 50%
    }
    .w-a\@sm {
        width: auto
    }
    .mw-a\@sm {
        max-width: none
    }
    .d-n\@sm {
        display: none
    }
    .d-b\@sm {
        display: block
    }
    .c-darker\@sm {
        color: #1c2332
    }
    .b-n\@sm {
        border: none
    }
    .p-r\@sm {
        position: relative
    }
    .p-a\@sm {
        position: absolute
    }
    .p-f\@sm {
        position: fixed
    }
    .b-0\@sm {
        bottom: 0
    }
    .t-0\@sm {
        top: 0
    }
    .l-0\@sm {
        left: 0
    }
    .tt-0\@sm {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
    .ai-s\@sm {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        -ms-grid-row-align: stretch;
        align-items: stretch
    }
    .fd-c\@sm {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }
    .fg-0\@sm {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0
    }
    .jc-fe\@sm {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
    .jc-c\@sm {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }
    .fb-a\@sm {
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }
    .fb-50\@sm {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%
    }
    .fb-100\@sm {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
    .fw-w\@sm {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap
    }
    .ta-l\@sm {
        text-align: left
    }
    .ta-c\@sm {
        text-align: center
    }
    .p-0\@sm {
        padding: 0
    }
    .p-0c5\@sm {
        padding: 0.5rem
    }
    .pr-0\@sm {
        padding-right: 0
    }
    .pl-1\@sm {
        padding-left: 1rem
    }
    .pl-2\@sm {
        padding-left: 2rem
    }
    .pb-2\@sm {
        padding-bottom: 2rem
    }
    .pl-3\@sm {
        padding-left: 3rem
    }
    .pr-2\@sm {
        padding-right: 2rem
    }
    .pr-3\@sm {
        padding-right: 3rem
    }
    .pb-1c5\@sm {
        padding-bottom: 1.5rem
    }
    .r1-4\@sm {
        padding-bottom: 25%
    }
    .m-0\@sm {
        margin: 0
    }
    .mt-0\@sm {
        margin-top: 0rem
    }
    .mt-1\@sm {
        margin-top: 1rem
    }
    .ml-n2\@sm {
        margin-left: -2rem
    }
    .mr-n2\@sm {
        margin-right: -2rem
    }
    .mr-0\@sm {
        margin-right: 0
    }
    .ml-3\@sm {
        margin-left: 3rem
    }
    .mr-3\@sm {
        margin-right: 3rem
    }
    .fs-xxl\@sm {
        font-size: 1.625rem
    }
    .fs-xl\@sm {
        font-size: 1.375rem
    }
    .h-100\@sm {
        height: 100%
    }
    .o-a\@sm {
        overflow: auto
    }
    .o-v\@sm {
        overflow: visible
    }
    .universe-bg:before {
        height: 145px;
        background-image: url("http://maquettes.garden.clever-age.net/img/1280x580/917e6f/ab9584")
    }
    .picker .picker__holder .picker__frame .picker__wrap {
        width: 100%;
        overflow-y: scroll
    }
    .swiper-modal .swiper-slide figure {
        height: auto
    }
    .squarred:before {
        width: 8px;
        height: 8px
    }
}
@media screen and (max-width: 37.812rem) {
    .w-100\@xs {
        width: 100%
    }
    .tty-0\@xs {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0)
    }
    .d-n\@xs {
        display: none
    }
    .d-b\@xs {
        display: block
    }
    .ta-c\@xs {
        text-align: center
    }
    .fo-1\@xs {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1
    }
    .fd-c\@xs {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }
    .fb-a\@xs {
        -ms-flex-preferred-size: auto;
        flex-basis: auto
    }
    .fb-100\@xs {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%
    }
    .mt-2\@xs {
        margin-top: 2rem
    }
    .ml-n2\@xs {
        margin-left: -2rem
    }
    .ml-0c5\@xs {
        margin-left: 0.5rem
    }
    .p-0\@xs {
        padding: 0
    }
    .p-1\@xs {
        padding: 1rem
    }
    .fs-xxl\@xs {
        font-size: 1.625rem
    }
    .fs-xl\@xs {
        font-size: 1.375rem
    }
    .fs-l\@xs {
        font-size: 1.25rem
    }
    .r16-9\@xs {
        padding-bottom: 56.25%
    }
    .odd-arrow-list .arrowed:before {
        display: none
    }
}