body {
    font-family: sans-serif;

}
a {
    color: inherit
}
p {
    margin: 1rem 0;
    line-height:1.7;
    font-size: 0.925rem
}

hr {
    height: 1px
}
.hr:after {
    content: "";
    display: block;
    border-top: 2px solid #e5e5e5;
    background-color: #f4f4f4;
    padding-bottom: 1rem;
    margin-right: -2rem;
    margin-left: -2rem
}
.viewport {
    max-width: 1234px
}
.row,
.row:after {
    clear: both
}
.row:before,
.row:after {
    content: " ";
    display: table
}
.m-auto {
    margin-left: auto;
    margin-right: auto
}
.t-n999 {
    text-indent: -999em
}
.vc-t:before,
.vc-m:before,
.vc-b:before {
    content: '';
    display: inline-block;
    height: 100%
}
.vc-t:before {
    vertical-align: top
}
.vc-m:before {
    vertical-align: middle
}
.vc-b:before {
    vertical-align: bottom
}
.universe-bg {
    background: url("../img/img_bebe.jpg") no-repeat scroll 50% 0/cover
}
.img-ratio {
    height: 0;
    overflow: hidden;
    position: relative;
    background-color: #f4f4f4
}
.img-ratio img,
.img-ratio iframe {
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0)
}
.img-ratio iframe {
    width: 100% !important;
    height: 100% !important
}
.r78-11 {
    padding-bottom: 14.5%
}
.r5-1 {
    padding-bottom: 20%
}
.r16-9 {
    padding-bottom: 56.25%
}
.r4-3 {
    padding-bottom: 75%
}
.r1 {
    padding-bottom: 100%
}
.r1-4 {
    padding-bottom: 25%
}
.ad-hover:hover .ad-hover-reveal {
    visibility: visible;
    opacity: 1
}
.positive-ico:before,
.negative-ico:before {
    content: '+';
    display: inline-block;
    vertical-align: middle;
    font-size: 2rem;
    border: 2px solid #e21e62;
    border-radius: 50%;
    text-align: center;
    width: 32px;
    height: 32px;
    line-height: 22px
}
.negative-ico:before {
    content: '-'
}
.js-modal-target,
.js-modal-toggle,
.ad-hover-reveal {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.15s ease-out, visibility 0.15s ease-out;
    transition: opacity 0.15s ease-out, visibility 0.15s ease-out
}
.js-sub-nav {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(0.75rem);
    -ms-transform: translateY(0.75rem);
    transform: translateY(0.75rem);
    margin-top: 1px;
    box-shadow: 0px 12px 30px -18px rgba(0, 0, 0, 0.5);
    -webkit-transition: opacity 0.25s ease, visibility 0.25s, -webkit-transform 0.25s ease;
    transition: opacity 0.25s ease, visibility 0.25s, -webkit-transform 0.25s ease;
    transition: opacity 0.25s ease, visibility 0.25s, transform 0.25s ease;
    transition: opacity 0.25s ease, visibility 0.25s, transform 0.25s ease, -webkit-transform 0.25s ease
}
.js-sub-nav ul li:hover {
    background-color: #e21e62
}
.js-sub-nav ul li a {
    -webkit-transition: background-color 0.15s ease;
    transition: background-color 0.15s ease
}
.sub-nav-active .js-sub-nav,
.js-modal-target.active,
.js-modal-toggle.active {
    opacity: 1;
    visibility: visible
}
.sub-nav-active .js-sub-nav {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0)
}
#nav>ul>li>a:after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    height: 1px;
    width: 100%;
    background-color: #e21e62;
    opacity: 0;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    -webkit-transition: opacity 0.15s ease, -webkit-transform 0.1s ease;
    transition: opacity 0.15s ease, -webkit-transform 0.1s ease;
    transition: opacity 0.15s ease, transform 0.1s ease;
    transition: opacity 0.15s ease, transform 0.1s ease, -webkit-transform 0.1s ease
}
#nav>ul>.sub-nav-active:not(:last-child)>a {
    color: #e21e62
}
#nav>ul>.sub-nav-active:not(:last-child)>a:after,
#nav>ul>li>a:hover:after {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}
.js-search-trigger.form-search-active path {
    fill: #1c2332
}
.breadcrumb li:after {
    content: '/';
    color: #E6226D;
    margin: 0 0.75rem
}
.breadcrumb li:last-child:after {
    content: ''
}
.select-prod-list>li:after:not(:last-child) {
    content: "";
    display: block;
    border-top: 2px solid #e5e5e5;
    background-color: #f4f4f4;
    height: 1px;
    padding-bottom: 1rem
}
.rating-list .active svg path {
    fill: #e21e62
}
.qa-list li:after,
.qa-list li:before {
    top: 100%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    -webkit-transform: skewX(25deg);
    -ms-transform: skewX(25deg);
    transform: skewX(25deg);
    pointer-events: none;
    right: 2rem
}
.qa-list li:after {
    border-color: transparent;
    border-top-color: #fff;
    border-width: 17px
}
.qa-list li:before {
    border-color: transparent;
    border-top-color: #e5e5e5;
    border-width: 18px;
    margin-right: -1px
}
.dot-list li {
    list-style-type: disc;
    list-style-position: inside
}
.skew-list li:not(:last-child):after {
    background-color: #e5e5e5;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    transform: skewX(-20deg);
    width: 1px
}
.skew-list .arrow.right:after {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg)
}
.odd-arrow-list li:last-child {
    border: 0 none
}
.odd-arrow-list .arrowed:before {
    content: "";
    display: block;
    position: absolute;
    top: 1rem;
    height: 0;
    width: 0;
    z-index: 2;
    -webkit-transition: -webkit-transform 0.25s ease;
    transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease
}
.odd-arrow-list .arrowed.left:before {
    right: 0;
    -webkit-transform: translateX(5px);
    -ms-transform: translateX(5px);
    transform: translateX(5px);
    border-bottom: 20px solid transparent;
    border-right: 20px solid #fff;
    border-top: 20px solid transparent
}
.odd-arrow-list .arrowed.right:before {
    left: 0;
    -webkit-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    transform: translateX(-5px);
    border-bottom: 20px solid transparent;
    border-left: 20px solid #fff;
    border-top: 20px solid transparent
}
.odd-arrow-list li:hover .arrowed:before {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0)
}
.caption-blur-bg {
    background: url("../img/blur-caption-bg.jpg") no-repeat 50% 50%;
    background-size: cover
}
.caption-arrow:after {
    content: "";
    width: 100%;
    background: -webkit-linear-gradient(top, rgba(21, 31, 52, 0) 0%, rgba(21, 31, 52, 0.3) 100%);
    background: linear-gradient(to bottom, rgba(21, 31, 52, 0) 0%, rgba(21, 31, 52, 0.3) 100%);
    position: absolute;
    height: 100px;
    bottom: 0
}
.caption-arrow.up:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    height: 0;
    width: 0;
    z-index: 2;
    -webkit-transition: -webkit-transform 0.25s ease;
    transition: -webkit-transform 0.25s ease;
    transition: transform 0.25s ease;
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
    right: 50%;
    -webkit-transform: translate3d(50%, 8px, 0);
    transform: translate3d(50%, 8px, 0);
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 20px solid #fff
}
.caption-arrow:hover.up:before {
    -webkit-transform: translate3d(50%, 0px, 0);
    transform: translate3d(50%, 0px, 0)
}
.js-see-comments svg {
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease
}
.comments-active svg {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg)
}
.squarred:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #e21e62;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0)
}
.squarred.s-fat:before {
    width: 15px;
    height: 15px
}
.tt-squarred:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 1rem;
    background-color: #e21e62
}
.tt-main {
    position: relative
}
.tt-main:before {
    content: "";
    width: 5px;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #e21e62
}
.tt-crossed {
    min-width: 150px
}
.tt-crossed:before {
    background-color: #e5e5e5;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%
}
.bloc-newsletter {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: cover
}
.bloc-newsletter.baby-bg {
    background-image: url("../img/baby-news-bg.jpg")
}
.bloc-newsletter.pregnant-bg {
    background-image: url("../img/pregnant-news-bg.jpg")
}
.bg-404 {
    background-attachment: scroll;
    background-image: url("../img/404.jpg");
    background-position: 70% 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding-top: 20%
}
.loading {
    position: relative;
    min-height: 100%
}
.loading:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: url("../img/loader.svg") no-repeat 50% 50% #fff;
    background-size: 60px auto;
    z-index: 4;
    display: block
}
.lazyload {
    opacity: 0
}
.lazyloading {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    background: url("../img/loader.svg") no-repeat 50% 50% #fff;
    background-size: 60px auto
}
.framed {
    pointer-events: none;
    box-shadow: 3px -3px 0 0 #fff, 3px -3px 0 1px #e21e62, 7px -7px 0 0 #fff, 7px -7px 0 1px #e21e62
}
.search-btn.active svg path,
.newsletter-btn.active svg path {
    fill: #1c2332
}
.no-touch .btn-arrow-effect {
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease
}
.no-touch .btn-arrow-effect:before {
    content: url("../img/arrow-link.svg");
    display: block;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 14px;
    opacity: 0;
    -webkit-transition: right 0.2s ease, opacity 0.2s ease;
    transition: right 0.2s ease, opacity 0.2s ease
}
.no-touch .btn-arrow-effect:hover {
    background-color: rgba(255, 255, 255, 0.7)
}
.no-touch .btn-arrow-effect:hover:before {
    opacity: 1;
    right: 0.75rem
}
.burger {
    cursor: pointer;
    width: 25px;
    height: 20px;
    position: relative
}
.burger:hover span {
    background-color: #1c2332
}
.burger:hover span:before,
.burger:hover span:after {
    background: #1c2332
}
.burger.active span {
    background-color: transparent;
    -webkit-transition-delay: 0s;
    transition-delay: 0s
}
.burger.active span:before {
    -webkit-transform: translateY(0) rotate(45deg);
    -ms-transform: translateY(0) rotate(45deg);
    transform: translateY(0) rotate(45deg)
}
.burger.active span:after {
    -webkit-transform: translateY(0) rotate(-45deg);
    -ms-transform: translateY(0) rotate(-45deg);
    transform: translateY(0) rotate(-45deg)
}
.burger span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    background-color: #909090;
    display: block;
    text-indent: -999em;
    height: 3px;
    left: 0;
    position: absolute;
    top: 50%;
    -webkit-transition: background-color 0.3s ease;
    transition: background-color 0.3s ease
}
.burger span:before,
.burger span:after {
    background: #909090;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
    transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, background-color 0.3s ease;
    transition: transform 0.3s ease, background-color 0.3s ease, -webkit-transform 0.3s ease
}
.burger span:before {
    -webkit-transform: translateY(-7px);
    -ms-transform: translateY(-7px);
    transform: translateY(-7px)
}
.burger span:after {
    -webkit-transform: translateY(7px);
    -ms-transform: translateY(7px);
    transform: translateY(7px)
}
.custom-select {
    position: relative;
    display: inline-block
}
.custom-select select {
    border: 0 none;
    border-radius: 0;
    width: 100%;
    height: 100%;
    top: 0;
    padding-right: 2rem;
    left: 0;
    text-transform: uppercase;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none
}
.custom-select:after {
    background: url("../img/arrow-main-down.svg") no-repeat scroll 50% 50%;
    background-size: contain;
    content: "";
    display: block;
    height: 25px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 50%;
    width: 2.5rem;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}
.selected-product:before {
    content: "";
    background: url("../img/selected-product.png") no-repeat 0 0;
    background-size: cover;
    display: block;
    height: 50px;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 50px;
    z-index: 3
}
.js-sticked {
    position: fixed;
    top: 0;
    width:300px;
}
.js-stuck {
    position: absolute;
    top: auto;
    bottom: 0
}
.instagram-media {
    margin: 0 auto
}
.picker {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    z-index: 15
}
.picker .picker__holder {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    background-color: rgba(28, 35, 50, 0.7);
    visibility: hidden;
    z-index: 7;
    -webkit-transition: opacity 0.25s ease, visibility 0.2s ease;
    transition: opacity 0.25s ease, visibility 0.2s ease
}
.picker .picker__holder .picker__frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    padding: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}
.picker .picker__holder .picker__frame .picker__wrap {
    width: 450px;
    background-color: #fff;
    padding: 0 1rem
}
.picker .picker__holder .picker__frame .picker__wrap .picker__box {
    position: relative;
    text-align: center
}
.picker .picker__holder .picker__frame .picker__wrap .picker__box .picker__button--close {
    -webkit-transition: color 0.25s ease;
    transition: color 0.25s ease;
    text-transform: uppercase;
    vertical-align: middle;
    font-size: 1rem;
    margin: 1rem 0
}
.picker .picker__holder .picker__frame .picker__wrap .picker__box .picker__button--close:hover {
    color: #e21e62
}
.picker .picker__holder .picker__frame .picker__wrap .picker__box .picker__button--close:before {
    content: url("../img/close.svg");
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    margin-right: 0.5rem
}
.picker .picker__holder .picker__frame .picker__wrap .picker__table {
    table-layout: fixed;
    text-align: center;
    width: 100%
}
.picker .picker__holder .picker__frame .picker__wrap .picker__header {
    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem 0;
    position: relative;
    border-bottom: 1px solid #e5e5e5
}
.picker .picker__holder .picker__frame .picker__wrap .picker__header .picker__month,
.picker .picker__holder .picker__frame .picker__wrap .picker__header .picker__year {
    display: inline-block
}
.picker .picker__holder .picker__frame .picker__wrap .picker__header .picker__month {
    font-size: 1.275rem;
    font-weight: 700;
    margin-right: 0.5rem
}
.picker .picker__holder .picker__frame .picker__wrap .picker__header .picker__nav--prev,
.picker .picker__holder .picker__frame .picker__wrap .picker__header .picker__nav--next {
    position: absolute;
    top: 0;
    width: 18px;
    height: 14px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url("../img/arrow-link-left.svg") no-repeat 50% 50%
}
.picker .picker__holder .picker__frame .picker__wrap .picker__header .picker__nav--next {
    right: 0;
    background: url("../img/arrow-link.svg") no-repeat 50% 50%
}
.picker .picker__holder .picker__frame .picker__wrap .picker__day {
    font-size: 1.225rem;
    color: #1c2332;
    padding: 0.5rem 0
}
.picker .picker__holder .picker__frame .picker__wrap .picker__day:hover {
    box-shadow: 0 0 0 1px #e21e62
}
.picker .picker__holder .picker__frame .picker__wrap .picker__day--outfocus,
.picker .picker__holder .picker__frame .picker__wrap .picker__day--disabled {
    opacity: 0.1
}
.picker .picker__holder .picker__frame .picker__wrap .picker__day--selected {
    -webkit-transition: color 0.25s ease, background-color 0.25s ease;
    transition: color 0.25s ease, background-color 0.25s ease;
    background-color: #e21e62;
    color: #fff
}
.picker .picker__holder .picker__frame .picker__wrap .picker__weekday {
    color: #e21e62;
    text-transform: uppercase;
    font-size: 0.875rem;
    padding: 1rem 0;
    letter-spacing: 1px;
    font-weight: 700
}
.picker--opened .picker__holder {
    opacity: 1;
    visibility: visible
}
.swiper-container.timeline .squarred:before {
    top: 100%;
    left: 50%
}
.swiper-container.timeline .swiper-slide {
    -webkit-transition: color 0.2s ease;
    transition: color 0.2s ease
}
.swiper-container.timeline .swiper-slide.swiper-slide-active {
    color: #e21e62
}
.swiper-modal .swiper-slide figure {
    height: 600px
}
.swiper-modal .swiper-arrow {
    -webkit-perspective-origin: 0 50%;
    perspective-origin: 0 50%;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    cursor: pointer;
    background-color: rgba(226, 30, 98, 0.8)
}
.swiper-modal .swiper-arrow .icon-wrap {
    height: 60px;
    width: 60px;
    -webkit-transition: background-color 0.3s ease 0s;
    transition: background-color 0.3s ease 0s;
    text-align: center
}
.swiper-modal .swiper-arrow .icon-wrap svg {
    display: inline-block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s
}
.swiper-modal .swiper-arrow .thumb {
    -webkit-transform: rotateY(-100deg);
    transform: rotateY(-100deg);
    -webkit-transform-origin: 100% 50% 0;
    -ms-transform-origin: 100% 50% 0;
    transform-origin: 100% 50% 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    overflow: hidden;
    width: 150px;
    height: 60px;
    -webkit-transition: -webkit-transform 0.3s ease 0s;
    transition: -webkit-transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s
}
.swiper-modal .swiper-arrow.prev {
    -webkit-perspective-origin: 100% 50%;
    perspective-origin: 100% 50%
}
.swiper-modal .swiper-arrow.prev .thumb {
    -webkit-transform-origin: 0 50% 0;
    -ms-transform-origin: 0 50% 0;
    transform-origin: 0 50% 0;
    -webkit-transform: rotateY(100deg);
    transform: rotateY(100deg)
}
.swiper-modal .swiper-arrow:hover,
.swiper-modal .swiper-arrow:focus {
    background-color: #e21e62
}
.swiper-modal .swiper-arrow:hover .thumb,
.swiper-modal .swiper-arrow:focus .thumb {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg)
}
.js-back-to-top {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.15s ease-out, visibility 0.15s ease-out;
    transition: opacity 0.15s ease-out, visibility 0.15s ease-out
}
.js-back-to-top-active {
    visibility: visible;
    opacity: 1
}
.js-infinite-scroll-trigger svg {
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in
}
.js-infinite-scroll-trigger:hover svg {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg)
}
.js-infinite-scroll.loading:before {
    display: none
}
.js-unveil-ct {
    overflow: hidden;
    max-height: 7rem;
    padding-bottom: 4rem;
    position: relative;
    -webkit-transition: max-height 0.3s ease;
    transition: max-height 0.3s ease
}
.js-unveil-ct .js-unveil-btn {
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #fff 50%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #fff 50%)
}
.js-unveil-ct .js-unveil-btn svg {
    -webkit-transition: -webkit-transform 0.3s ease 0.3s;
    transition: -webkit-transform 0.3s ease 0.3s;
    transition: transform 0.3s ease 0.3s;
    transition: transform 0.3s ease 0.3s, -webkit-transform 0.3s ease 0.3s
}
.js-unveil-ct.active {
    max-height: 1000px
}
.js-unveil-ct.active .js-unveil-btn svg {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg)
}
@-webkit-keyframes slideFromTop {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
@keyframes slideFromTop {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}
.slideFromTop {
    -webkit-animation-name: slideFromTop;
    animation-name: slideFromTop;
    -webkit-animation-duration: .35s;
    animation-duration: .35s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}
@-webkit-keyframes slideFromBottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}
@keyframes slideFromBottom {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
}
.slideFromBottom {
    -webkit-animation-name: slideFromBottom;
    animation-name: slideFromBottom;
    -webkit-animation-duration: .35s;
    animation-duration: .35s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}
#swiper-gallery,
#swiper-zoom-prod {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease
}
#swiper-gallery.active,
#swiper-zoom-prod.active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    height: 100vh
}